
@{
    ViewBag.Title = "MissingParts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MissingParts</h2>
<h3>Make sure that you have selected a part for every component.</h3>
<h3>@Html.ActionLink("Return to build", "NewBuild", "Build")</h3>

