
@{
    ViewBag.Title = "Index";
}

<h2>Voer uw gegevens in</h2>
<form method="post" action="">
    <div class="form-group">
        <label for="exampleInputEmail1">Email adres</label> <input type="text" name="username" />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Wachtwoord</label> <input type="text" name="password" />
    </div>
    <button type="submit" class="btn btn-default">Login</button>


</form>

    